# IDE
**/.idea
**/.vscode

# Cache
**/__pycache__

# Jupyter Notebook
**/.ipynb_checkpoints

# Environments
.venv
venv/
scripts/

# Django content
project/project/static_root/*
project/project/media/*