{% extends base_template %}
{% load static %}
{% load i18n %}
{% load general_tags %}

{% block title %}{% trans "Concept Definitions" %}{% endblock %}

{% block content %}
	<!-- Page Content -->
	{% if request.htmx.target != 'tab-container' %}
		<!-- Modal -->
		<div class="modal fade" id="page-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
			<div class="modal-dialog">
				<div id="modal-container" class="modal-content">
				</div>
			</div>
		</div>

		<h1>
			<a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" hx-boost="true" href="{% url 'datacore:concept' concept.id %}">{% trans "Concept" %} #{{ id }}</a>
			<span class="badge bg-secondary fs-6 align-middle">{{ concept.pos.title }}</span>
			<div id="loading-indicator" class="htmx-indicator spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
		</h1>
		{% tabs tab_data tab_active %}
	{% endif %}

	<div id="tab-container">
		<h4>
			Definitions
			<a hx-push-url="false" hx-boost="true" hx-target="#modal-container" hx-indicator="#loading-indicator" href="{% url 'datacore:concept_definitions_add' concept.id %}" class="btn btn-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#page-modal"><i class="fa fa-add"></i>Add Definition</a>
		</h4>
		{% if concept.definitions.all %}
			<div class="row gy-2 pt-3">
				{% for definition in concept.definitions.all %}
					<div class="col-auto">
						<div class="input-group">
							<span class="input-group-text" id="basic-addon1"><abbr title="{{definition.language.get_title}}">{{definition.language.alpha3b}}</abbr></span>
							<span class="form-control">{{ definition.text }}</span>
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
							<ul class="dropdown-menu">
								<li><a hx-vals='{"force_url_success_redirect": "{% url "datacore:concept" concept.id %}"}' hx-push-url="false" hx-boost="true" hx-indicator="#loading-indicator" hx-target="#modal-container" href="{% url 'datacore:concept_definition_edit' concept.id definition.id %}" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#page-modal"><i class="fa fa-pen"></i> Edit</a></li>
								<li>
									<form method="post" action="{% url 'datacore:concept_definitions' concept.id %}">
										{% csrf_token %}
										<input type="hidden" name="remove-item" value="{{ definition.id }}" >
										<button hx-indicator="#loading-indicator" hx-target="#main-container" hx-confirm="Are you sure you?" hx-post="{% url 'datacore:concept_definitions' concept.id %}" name="remove-definition" class="dropdown-item"><i class="fa fa-trash"></i>Remove</button>
									</form>
								</li>
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<b>Definition not provided!</b>
		{% endif %}
	</div>
{% endblock %}
