{% extends base_template %}
{% load static %}
{% load i18n %}
{% load general_tags %}

{% block title %}{% trans "Named Entities" %}{% endblock %}

{% block content %}
	<!-- Modal -->
	<div class="modal fade" id="page-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div id="modal-container" class="modal-content">
			</div>
		</div>
	</div>

	<!-- Page Content -->

	<h1 class="page-header">
		{% trans "Named Entities" %}
		<div id="loading-indicator" class="htmx-indicator spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
		<a hx-indicator="#loading-indicator" hx-push-url="false" hx-boost="true" hx-target="#modal-container" href="{% url 'datacore:entities_add' %}" class="float-end btn btn-outline-success mx-2 my-2" data-bs-toggle="modal" data-bs-target="#page-modal"><i class="fa fa-add"></i></a>
	</h1>

	{% if entities|length == 0 %}
		<div class="content">
			No Named Entities found!
		</div>
	{% else %}
		<div class="tab-content bg-transparent">
			<div hx-boost="true" class="note-has-grid row">
				{% for entity in entities %}
					<div class="col-md-4 single-note-item">
						<div class="card card-body">
							<a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" href="{% url 'datacore:entity' entity.id %}" class="text-decoration-none">
								<h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Book a Ticket for Movie">{{ entity.text }} ({{ entity.get_ne_type_display }})</h5>
								<p class="note-date font-12 text-muted">
									{% if entity.frequency_distribution > 0 %}
										<span class="side-stick"></span>
										{{ entity.frequency_distribution }} Usages found
									{% else %}
										<span class="side-stick grey"></span>
										Not usages found
									{% endif %}
								</p>
								{% if entity.language.get_title %}
									<div class="note-content">
										<p class="note-inner-content text-muted truncate-two-lines">{{ entity.language.get_title }}</p>
									</div>
								{% endif %}
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% pagination entities paginator_range %}
	{% endif %}
{% endblock %}
