{% extends base_template %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Export Textual Data" %}{% endblock %}

{% block content %}
	<!-- Modal -->
	<div class="modal fade" id="page-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div id="modal-container" class="modal-content">
			</div>
		</div>
	</div>

	<!-- Page Content -->
	<h1 class="page-header">
		{% trans "Export Textual Data" %}
		<div id="loading-indicator" class="htmx-indicator spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
		<a hx-indicator="#loading-indicator" hx-push-url="false" hx-boost="true" hx-target="#modal-container" href="{% url 'datacore:textual_data_export' %}" class="float-end btn btn-outline-success mx-2 my-2" data-bs-toggle="modal" data-bs-target="#page-modal"><i class="fa fa-file-export"></i>Export</a>
	</h1>
	<hr>

	{% if files.all_corpora %}
		<h2>{% trans "All Corpora Export Files" %}</h2>
		<div class="list-group">
			{% for file, url in files.all_corpora.items  %}
				<a href="{{ url }}" class="list-group-item list-group-item-action">{{ file }}</a>
			{% endfor %}
		</div>
	{% endif %}
	{% if files.all_documents %}
		<h2>{% trans "All Documents Export Files" %}</h2>
		<div class="list-group">
			{% for file, url in files.all_documents.items  %}
				<a href="{{ url }}" class="list-group-item list-group-item-action">{{ file }}</a>
			{% endfor %}
		</div>
	{% endif %}
	{% if files.all_phrases %}
		<h2>{% trans "All Phrases Export Files" %}</h2>
		<div class="list-group">
			{% for file, url in files.all_phrases.items  %}
				<a href="{{ url }}" class="list-group-item list-group-item-action">{{ file }}</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}