{% extends base_template %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Language" %}{% endblock %}

{% block content %}
	<!-- Modal -->
	<div class="modal fade" id="page-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div id="modal-container" class="modal-content">
			</div>
		</div>
	</div>

	<!-- Page Content -->
	<h1 class="page-header">
		{{ language.get_title }}
		<div id="loading-indicator" class="htmx-indicator spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
		<div class="btn-group float-end">
			<a hx-push-url="false" hx-boost="true" hx-indicator="#loading-indicator" hx-target="#modal-container" href="{% url 'datacore:language_edit' language.id %}" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#page-modal"><i class="fa fa-pen"></i></a>
			<a hx-push-url="false" hx-boost="true" hx-indicator="#loading-indicator" hx-target="#modal-container" href="{% url 'datacore:language_delete' language.id %}" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#page-modal"><i class="fa fa-trash-can"></i></a>
		</div>
	</h1>

	<div class="row">
		<div class="content">
			<hr>
			{% if language.native_speakers %}
				<p><b>Native Speakers:</b> {{ language.native_speakers }} millions</p>
			{% endif %}
			{% if language.alpha2 %}
				<p><b>Alpha2:</b> {{ language.alpha2 }}</p>
			{% endif %}
			{% if language.alpha3b %}
				<p><b>Alpha3(bibliographic):</b> {{ language.alpha3b }}</p>
			{% endif %}
			{% if language.alpha3t %}
				<p><b>Alpha3(terminologic):</b> {{ language.alpha3t }}</p>
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
