{% extends base_template %}
{% load static %}
{% load i18n %}
{% load general_tags %}

{% block title %}{% trans "Templates" %}{% endblock %}

{% block content %}
	<h1 class="page-header">
		Templates
		<div id="loading-indicator" class="htmx-indicator spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</h1>
	<div class="row row-margin-bottom">
		<div hx-boost="true" class="list-group w-100">
			{% for template in templates %}
				<a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" href="{% url 'datacore:template' template.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
					{{template.pos}}<span class="badge badge-primary badge-pill">{{ template.phrase_count }}</span>
				</a>
			{% endfor %}
		</div>
	</div>
	{% pagination templates paginator_range %}
{% endblock %}