{% extends base_template %}
{% load static %}
{% load i18n %}
{% load general_tags %}

{% block title %}{% trans "Lexical Relation" %}{% endblock %}

{% block content %}
	<!-- Modal -->
	<div class="modal fade" id="page-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div id="modal-container" class="modal-content">
			</div>
		</div>
	</div>

	<!-- Page Content -->
	<h1 class="page-header">
		{% trans "Word Relationships" %}
		<div id="loading-indicator" class="htmx-indicator spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
		<a hx-indicator="#loading-indicator" hx-push-url="false" hx-boost="true" hx-target="#modal-container" href="{% url 'datacore:word_relations_add' %}" class="float-end btn btn-outline-success mx-2 my-2" data-bs-toggle="modal" data-bs-target="#page-modal"><i class="fa fa-add"></i></a>
	</h1>

	<div class="row">
		<div class="col">
			{% if relations|length == 0 %}
				<div class="container">
					No Lexical Relation Types found!
				</div>
			{% else %}
				<div class="tab-content bg-transparent">
					<div hx-boost="true" class="note-has-grid row">
						{% for relation in relations %}
							<div class="col-md-4 single-note-item">
								<div class="card card-body">
									<a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" href="{% url 'datacore:word_relation' relation.id %}" class="text-decoration-none">
										<h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Book a Ticket for Movie">{{ relation.word_relation.title }}</h5>
										<p class="note-date font-12 text-muted"><span class="side-stick"></span></p>
										<div class="note-content">
											<p class="note-inner-content text-muted truncate-two-lines">
												`{% get_method_from_list related_words relation.words.0 "text" %}` {{ relation.word_relation.descriptor  }} `{% get_method_from_list related_words relation.words.1 "text" %}`
											</p>
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{% pagination relations paginator_range %}
			{% endif %}
		</div>
	</div>
{% endblock %}
