{% extends base_template %}
{% load static %}
{% load i18n %}
{% load general_tags %}


{% block title %}{% trans "Word Relation" %} - {{ relation.word_relation.title }}{% endblock %}

{% block content %}
	<!-- Modal -->
	<div class="modal fade" id="page-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div id="modal-container" class="modal-content">
			</div>
		</div>
	</div>

	<!-- Page Content -->
	<h1 class="page-header">
		{{ relation.word_relation.title }}
		<div id="loading-indicator" class="htmx-indicator spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
		<div class="btn-group float-end">
			<a hx-push-url="false" hx-boost="true" hx-indicator="#loading-indicator" hx-target="#modal-container" href="{% url 'datacore:word_relation_edit' relation.id %}" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#page-modal"><i class="fa fa-pen"></i></a>
			<a hx-push-url="false" hx-boost="true" hx-indicator="#loading-indicator" hx-target="#modal-container" href="{% url 'datacore:word_relation_delete' relation.id %}" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#page-modal"><i class="fa fa-trash-can"></i></a>
		</div>
	</h1>

	<div class="row">
		<div hx-boost="true" class="col">
			<div hx-boost="true" class="container">
				<p>
					<a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" href="{% url 'datacore:word_relation_type' relation.word_relation.id %}">{{ relation.word_relation.title }}</a> relationshipt between "{% get_method_from_list related_words relation.words.0 "text" %}" and "{% get_method_from_list related_words relation.words.1 "text" %}"
				</p>
				<p>
					<p><a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" href="{% url 'datacore:word' relation.words.0 %}">{% get_method_from_list related_words relation.words.0 "text" %}</a> {{ relation.word_relation.descriptor  }} <a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" href="{% url 'datacore:word' relation.words.1 %}">{% get_method_from_list related_words relation.words.1 "text" %}</a></p>
					{% if relation.word_relation.direction_type == "u" %}
						<p><a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" href="{% url 'datacore:word' relation.words.1 %}">{% get_method_from_list related_words relation.words.1 "text" %}</a> {{ relation.word_relation.reverse_descriptor  }} <a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" href="{% url 'datacore:word' relation.words.0 %}">{% get_method_from_list related_words relation.words.0 "text" %}</a></p>
					{% endif %}
				</p>
				{% if relation.language.alpha3b %}
					<hr>
					Language: <a hx-indicator="#loading-indicator" hx-target="#main-container" hx-push-url="true" href="{% url 'datacore:language' relation.language.id %}">{{ relation.language.get_title }}</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
