{% load i18n %}
{% load widget_tweaks %}
{% load general_tags %}

{% block content %}
	{% if search_items %}
		<div class="content search">
			<ul class="list-group overflow-auto">
				{% for search_item in search_items %}
					<li class="list-group-item">
						{{search_item}}
						<form class="float-end" method="post">
							{% csrf_token %}
							<input type="hidden" name="relation-type" value="{{ relation }}" >
							{# Search if item is already added or not #}
							{% in_relation item relation search_item as added %}
							{% if added %}
								<button hx-indicator="closest button" hx-target="closest li" hx-swap="outerHTML swap:1s" hx-post="{{ url }}" name="remove-relation-item" value="{{ search_item.id }}" type="submit" class="btn btn-danger btn-sm" force-refresh="true">
									{% trans "Remove" %}
									<div class="htmx-indicator hidden-loading spinner-border spinner-border-sm" role="status"></div>
								</button>
							{% else %}
								<button hx-indicator="closest button" hx-target="closest li" hx-swap="outerHTML swap:1s" hx-post="{{ url }}" name="add-relation-item" value="{{ search_item.id }}" type="submit" class="btn btn-success btn-sm" force-refresh="true">
									{% trans "Add" %}
									<div class="htmx-indicator hidden-loading spinner-border spinner-border-sm" role="status"></div>
								</button>
							{% endif %}
							<input type="hidden" name="item-id" value="{{ search_item.id }}">
						</form>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}
