Django==4.1.4
django-extensions==3.2.1
django-filter==22.1
django-htmx==1.13.0
django-mptt==0.14.0
django-split-json-widget==1.16
django-widget-tweaks==1.4.12
djangorestframeworkdjangorestframework==3.14.0
html2text==2020.1.16
jupyter==1.0.0
matplotlib==3.6.2
networkx==2.8.8
nltk==3.7
pandas==1.5.2
Pillow==9.3.0
psycopg2==2.9.5
python-decouple==3.6
sorl-thumbnail==12.9.0
spacy==3.4.3
stanza==0.3
tqdm==4.64.1
