Django
django-split-json-widget
django-widget-tweaks
djangorestframework
django-filter
django-extensions
django_htmx
django-mptt
psycopg2
networkx
jupyter
nltk
stanza
spacy
matplotlib
pandas
Pillow
sorl-thumbnail
html2text
python-decouple
tqdm
pre-commit
